@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tree View</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Application</h2>
        <p>
            This application shows custom tree view. 
            Created without using standard ASP.NET TreeView control.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Technology</h2>
        <p>Asp.NET MVC 5 with Entity Framework 6</p>
    </div>
</div>